.page-404 {
  text-align: center;
  padding: 100px;

  h1 {
    font-size: 6rem;
    color: #cd2c2e; // couleur danger
  }

  p {
    font-size: 1.5rem;
    color: #384050; // couleur sombre
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
}
