// Utilisation de la police Graphik
@font-face {
  font-family: 'Graphik';
  src: url('assets/fonts/Graphik_Collection/Graphik Family/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('assets/fonts/Graphik_Collection/Graphik Family/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}




// Styles généraux
body {
  font-family: 'Graphik', Arial, sans-serif;
  background-color: #f1f8fc;
  color: #384050;
  margin: 0;
  padding: 0;
}

a {
  color: #0074c7;
  text-decoration: none;

  &:hover {
    color: #82b864;
  }
}

button {
  font-family: 'Graphik', Arial, sans-serif;
  cursor: pointer;
  background-color: #0074c7;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #00497c;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Graphik', Arial, sans-serif;
  color: #384050;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

// Menu burger pour le site responsive

